@import url("sidebar_style.css");

body {
    background-image: url("assets/images/background.jpg");
}

.main-content {
    position: relative;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
    justify-content: space-around;
    
}

.main-content .box{
    min-height: 150px;
    width: 50px; /* Fixed size for the container */
    height: 250px; /* Fixed size for the container */
    text-align: left;
    padding: 2rem;
    border-radius: 5px;
    margin: 5px;
}

#box1 {
    width: 55%;
    height: 200px;
    flex-grow: 1;
}

#box1 h1 {
    font-size: 50px;
}

#box1 p {
    font-size: 20px;
}

#box2 {
    flex-grow: 2;
    padding: 0;
}

#box3 {
    width: 100%;
    height: 350px;
}


.calendar {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem; /* Relative padding */
    background: #0079c2;
    color: #fff;
}

.calendar-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem; /* Relative font size */
    cursor: pointer;
}

.calendar-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem; /* Relative padding */
}

.calendar-weekdays, .calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-weekdays div, .calendar-days div {
    width: 14.28%; /* To ensure seven columns */
    text-align: center;
    padding: 0.2rem 0; /* Relative padding */
    box-sizing: border-box;
}

.calendar-weekdays {
    border-bottom: 1px solid #ddd;
}

.calendar-days div {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.calendar-days div:nth-child(7n) {
    border-right: none;
}

@media (max-width: 768px) {
    .calendar-header button {
        font-size: 0.8rem; /* Adjust font size for smaller screens */
    }

    .calendar-weekdays div, .calendar-days div {
        padding: 0.1rem 0; /* Adjust padding for smaller screens */
    }
}