@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/images/background.jpg");
    overflow-y: auto;
    box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}

.main-content {
    position: absolute;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 78px);
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
    
}

.sidebar.active ~ .main-content {
    width: calc(100% - 240px);
    left: 240px;
}

.main-content .item {
    min-height: 50px; 
    text-align: left;
    padding: 2rem;
    border-radius: 5px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);   
    flex: auto;
    border: 0.5px groove grey;  
}

.main-content .item1 {
    min-height: 50px; 
    text-align: left;
    padding: 2rem;
    margin: 5px;
    background-color: white;
}

.main-content #item-1 {
    flex-basis: 100%;
    height: 100px; 
}

.main-content #item-1 h2 {
    font-weight: bolder;
}

.main-content #item-2, #item-1-5 {
    flex-basis: 100%;
    height: auto;
    align-items: left;
    justify-content: left;
    display: flex;
    gap: 10px 10px;
}

.main-content #item-1-5 .child {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px; 
    gap: 10px;
}

.main-content #item-2 .child {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px; 
    gap: 10px;
}

.main-content #item-2 .child form {
    margin-left: 10px;
}


.main-content #item-2 .child-item #c-item1 {
    flex-basis: 30%;
}
.main-content #item-2 .child-item #c-item1 p {
    font-size: 50px;
}

.main-content #item-2 .child-item #c-item2 {
    flex-basis: 10%;
}

.main-content #item-3 {
    flex-basis: 100%;
    min-height: auto;
    align-items: center;
}

.main-content #item-3 #table1 button {
    display: none;
}

.main-content #item-3 #table1 tr:hover button {
    display: inline-block;
    appearance: none;
    background-color: #880808;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 10px;
    padding: 6px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.main-content #item-3 .button-3{
    display: inline-block;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.main-content #item-3 h3 {
    font-size: 40px;
    font-weight: bold;
}

.main-content #item-4 {
    flex-basis: 100%; 
    min-height: auto;
}

.main-content #item-4 h3 {
    font-size: 40px;
    font-weight: bold;
}

.table .input-row {
    position: relative;
    bottom: 0;
    background-color: #f9f9f9;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content label {
    display: block;
    font-weight: bold;
}

.modal-content input[type="text"],
.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    color: #fff;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

