
body {
    background-image: url("assets/images/background.jpg");
    overflow-y: auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.header {
    width: 50%;
    font-size: 50px;   
    > p {
        border-bottom: 1px solid grey;
    }
}

header {
    text-align: center;
    margin: 40px 0 20px; 
    font-size: 20px;
    border-bottom: 1px solid grey;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 6rem;
}

.flex-container {
    display: flex;
    width: 100%; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
    margin-bottom: 40px;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex: 0 0 200px; 
    height: 300px;
    margin: 2rem;
    text-align: center;
    border-radius: 8px;
}

.flex-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 20px;
    display: block; 
}

.details {
    padding: 0.5rem;
}

.details h2 {
    margin: 0;
    font-size: 15px;
    color: #333;
}

.details p {
    margin: 0.5rem 0 0;
    font-size: 10px;
    color: #666;
}
