
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/images/background.jpg");
    overflow-y: auto;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
}

.student-profile .card {
    border-radius: 10px;
    text-align: left;
    justify-content: center;
}

.student-profile .card .card-header .profile-pic {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 50%;
}

.student-profile .card .card-header img {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 50%;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.support-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    color: #000;
    font-size: 12px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.support-button i {
    margin-right: 8px;
}

.support-button:hover {
    background-color: #f1c40f;
}

.support-button:active {
    background-color: #f1c40f;
    transform: scale(0.98);
}

.support-button.active {
    background-color: #f1c40f; 
    color: #000;
}

.support-button.active i {
    color: #007bff;
}

.back-button {
    width: 40px;
    padding-left: 8px;
    font-size: 25px;
    margin-left: 15px;
}

.back-button:hover {
    color: blue;
}