
body {
    background-image: url("assets/images/background.jpg");
    overflow-y: auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.button {
    display: none;
}

.student-profile .card {
    border-radius: 10px;
}

main .student-profile .card .card-header .profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}