body {
    overflow-y: auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.card {
    padding: 2em;
    text-align: center;
}

main .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-bottom: 1px solid grey;
    justify-content: space-between;
}

main .grid-container-1 #card-1 {
    min-width: 70% !important;
}

.vote-btn {
    display: none;
}

main .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

main .grid-container-2 #card-3 {
    grid-column: span 3;
}

main .grid-container-2 #card-4 {
    min-width: 250px;
    max-width: 250px;
}

main .grid-container-2 #card-5 p {
    text-align: left;
}

main .grid-container-2 #card-4 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

main .grid-container-2 #card-6 {
    grid-column: span 3;
}

main .grid-container-2 #card-7 {
    grid-column: span 3;
}

main .grid-container-2 #card-7 #platform {
    text-align: justify;
}

main .grid-container-1 #card-1 {
    text-align: left;
    > p {
        font-size: 20px;
    }
}

main .grid-container-1 #card-2 {
    padding: 1em;
    justify-content: right;
}

.calendar {
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #0079c2;
    color: #fff;
}

.calendar-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.calendar-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.calendar-weekdays, .calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-weekdays div, .calendar-days div {
    width: 14.28%;
    text-align: center;
    padding: 0.2rem 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.calendar-weekdays {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.calendar-days div {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.calendar-days div:nth-child(7n) {
    border-right: none;
}

.today {
    background-color: yellow !important; 
}

.election-period {
    background-color: #0079c2;
}

.status-container {
    display: inline-flex;
    align-items: center; 
    > a {
        margin-left: 5px;
    }
}

.status-indicator {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    animation: breathing 2s infinite ease-in-out;
}

@keyframes breathing {
    0%, 100% {
        transform: scale(1); 
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.5), 0 0 15px rgba(0, 255, 0, 0.3);
    }
    50% {
        transform: scale(1.2); 
        box-shadow: 0 0 20px rgba(0, 255, 0, 1), 0 0 30px rgba(0, 255, 0, 0.7);
    }
}

@media(max-width: 800px){ 
    main .grid-container-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .vote-btn {
        display: unset;
    }

    main .grid-container-2 #card-4 {
        width: 80%;
        grid-column: span 3;
        margin-left: auto;
        margin-right: auto;
    }

    main .grid-container-2 #card-5 p {
        text-align: justify;
    }

    main .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    main .grid-container-1 #card-1 {
        width: 1fr;
    }

    .calendar {
        width: 100%;
        top: 0;
    }

}