@import url("sidebar_style.css");


body {
    background-image: url("assets/images/background.jpg");
    overflow-y: auto;

}

.main-content {
    position: absolute;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 78px);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5rem;
}

.sidebar.active ~ .main-content {
    width: calc(100% - 240px);
    left: 240px;
}

.main-content .item {
    min-height: 50px; 
    text-align: left;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 5px;
    gap: 10px;
}

.main-content #item-1 {
    flex-grow: 1;
    width: 50%;
    height: 250px;
    margin-bottom: 50px;
}

.main-content #item-1 h1 {
    font-size: 35px !important;
}

.main-content #item-1 p {
    font-size: 17px;
    margin: 0;
}

.main-content #item-2{
    width: 40%;
    height: 250px;
}

.main-content #item-3 {
    flex-grow: 1;
    width: 50%;
    height: auto;
}

.main-content #item-3 h2 {
    font-size: 20px;
}

.main-content #item-4 {
    width: 40%;
    height: auto;
}

.main-content #item-5 {
    flex-grow: 1;
    width: 15%;
    padding: 0;
}

.main-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.main-content #item-6 {
    width: 35%;
    
}

.main-content #item-7 {
    width: 40%;
}

.sub-items {
    display: flex;
    min-height: 250px; 
    max-height: 350px;
    text-align: left;
    padding: 0;
    border-radius: 5px;
    margin: 5px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.sub-items #sub-item1{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

#carouselExampleSlidesOnly {
    justify-content: center;
    margin: auto;
}

.sub-items .sub-item {
    min-height: 200px;
}

.sub-items .sub-item img {
    height: 100%;
    border-radius: 10px;
}

.sub-items .sub-item .detail {
    font-style: italic;
}

.sub-items #item-8 {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    }

.sub-items #item-8 #sub-item1 {
    width: 50%;
    height: 100%;
    }

.sub-items #item-8 #sub-item2 {
    width: 50%;
    height: 100%;
    }

.sub-items #item-8 #sub-item2 h2 {
    font-size: 30px;
    }

.sub-items #item-8 #sub-item2 .percentage {
    padding-top: 25px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    }

.sub-items #item-8 #sub-item2 .position {
    padding-top: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.calendar {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #0079c2;
    color: #fff;
}

.calendar-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.calendar-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.calendar-weekdays, .calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-weekdays div, .calendar-days div {
    width: 14.28%;
    text-align: center;
    padding: 0.2rem 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.calendar-weekdays {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.calendar-days div {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.calendar-days div:nth-child(7n) {
    border-right: none;
}

.today {
    background-color: yellow !important; 
}

.election-period {
    background-color: #0079c2;
}